<section id="about" style="text-align: center; font-size: 1.2em; line-height: 1.8em; padding: 30px;">
    <h2 style="font-size: 2.2em; margin-bottom: 20px;">Sobre Mim</h2>
    <p style="max-width: 900px; margin: 0 auto;">
        Profissional atuante nas áreas de desenvolvimento e manutenção de sistemas desde 1998. Possuo experiência em
        projetos que utilizam
        tecnologias como <strong>.NET</strong>, <strong>Java</strong>, <strong>Node</strong>, <strong>Angular</strong> entre outras, prestando serviços de migração,
        desenvolvimento ou manutenção
        a empresas de diversos setores, incluindo <em>Seguros</em>, <em>Energia</em>, <em>Petróleo</em> e
        <em>Financeiro</em>.
    </p>

    <h3 style="font-size: 1.8em; margin-top: 40px;">Formação Acadêmica</h3>
    <p style="max-width: 900px; margin: 0 auto;">
        <strong>Bacharelado em Análise de Sistemas</strong> – (Dezembro/2001): Universidade Estácio de Sá – Rio de
        Janeiro.
    </p>

</section>