<div class="row">
    <div class="col logo-container">
        <a href="#">
            <img src="/assets/img/logo2.png" alt="logo" />
        </a>
    </div>    
</div>
<div class="row" style="background-color: rgba(0, 255, 0, 0.13);">
    <div class="col-3 align-self-center text-center mobile-menu-item">
        <span>Todas as Publicações</span>
    </div>
    <div class="col-3 align-self-center text-center mobile-menu-item">
        <span>Notícias</span>
    </div>
    <div class="col-3 align-self-center text-center mobile-menu-item">
        <span>Artigos</span>
    </div>
    <div class="col-3 align-self-center text-center mobile-menu-item">
        <span>Tutoriais</span>
    </div>
</div>
<div *ngIf="has_disclaimer" class="row">
    <div class="col">
        <h3 class="disclaimer">Em Desenvolvimento</h3>
    </div>
</div>
