<div class="row menu-barra">
    <div class="col text-center align-self-center menu-item">
        <a href="publicacoes/tipopublicacao/todas">Todas as Publicações</a>
    </div>
    <div class="col text-center align-self-center menu-item">
        <a href="publicacoes/tipopublicacao/noticias">Notícias</a>
    </div>
    <div class="col text-center align-self-center menu-item">
        <a href="publicacoes/tipopublicacao/artigo">Artigos</a>
    </div>
    <div class="col text-center align-self-center menu-item">
        <a href="publicacoes/tipopublicacao/tutoriais">Tutoriais</a>
    </div>
    <div class="col text-center align-self-center menu-item">
        <a href="sobre">Sobre Mim</a>
    </div>    
</div>
