<div class="container">
  <div class="row">
    <div style="display: flex; align-items: center; justify-content: center;">
      <a href="#">
        <img class="logo" src="/assets/img/logo.png" alt="logo" />
      </a>
    </div>
  </div>
  <div class="row">
    <app-tag></app-tag>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <div class="container-flex">
  <div class="row">
    <div class="col-2 border" style="position: relative;">
      <app-tag></app-tag>
    </div>  
    <div class="col-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->