.barra {
    background-color: rgba(13, 99, 5, 0.7);
    border-radius: 0.75em;
    min-height: 3em;
}
.menu-items {
    display: flex;
    flex-direction: row;
    padding-top: 0.5em;
    text-align: center;
    gap: 1.5em;
    justify-content: center;
}
.menu-items li {
    list-style-type: none;
}
.menu-items li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}
