.barra {
    background-color: rgba(21, 158, 9, 0.85);
    border-radius: 0.75em;
    min-height: 3em;
}
.menu-items {
    display: flex;
    flex-direction: row;
    padding-top: 0.5em;
    text-align: center;
    gap: 1.5em;
    justify-content: center;
}
.menu-items li {
    list-style-type: none;
}
.menu-items li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}
.menu-items li a:hover{
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 0.05rem;
    text-underline-offset: 0.25rem;
    text-decoration-color: #ffffff;
}
