/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'RobotoCustom';
    src: url('assets/fonts/RobotoMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GabaritoCustom';
    src: url('assets/fonts/Gabarito-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.titulo-artigo {
    font-family: 'RobotoCustom', Helvetica, sans-serif;
    font-size: 36px;
}

.texto-artigo {
    font-family: 'RobotoCustom', Helvetica, sans-serif;
    font-size: 16px;
}

