<div *ngIf="publicacoes.length > 0">
    <div *ngFor="let p of publicacoes">
        <div class="row">
            <div class="col"><a href="publicacoes/{{p.url}}" class="titulo-artigo">{{p.titulo}}</a>
            </div>
        </div>
        <div class="row">
            <div class="col"><p class="detalhe-artigo">{{p.detalhe}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col"><p class="tags-artigo">{{p.tags}}</p>
            </div>
        </div>
    </div>


</div>