<div *ngIf="publicacoes.length > 0">
    <div *ngFor="let p of publicacoes">
        <!-- <div class="row">
            <div class="col text-center">
                <a href="publicacoes/{{p.url}}" class="titulo-artigo">
                    <img class="img-fluid" src={{p.imageLink}} alt="" />
                    {{p.titulo}}
                </a>
            </div>
        </div> -->
        <div class="row">
            <div class="col text-center position-relative pt-3">
                <a href="publicacoes/{{p.url}}" class="titulo-artigo">
                    <img class="img-fluid" src="{{p.imageLink}}" alt="" style="filter: brightness(50%);width: 40%; height: auto;" />
                    <div class="overlay-text">
                        {{p.titulo}}
                    </div>
                </a>
            </div>
        </div>        
        <div class="row">
            <div class="col">
                <p class="detalhe-artigo">{{p.detalhe}}</p>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="col">
                <ul style="list-style-type: none; display: flex; flex-direction: row; justify-content: center;">
                    <li *ngFor="let tag of p.tags" style="text-align: center; margin-right: 10px;">
                        <a href="publicacoes/tags/{{tag}}">{{ tag }}</a>
                    </li>
                </ul>
            </div>
        </div>
        -->
    </div>
</div>
<div class="container text-center pt-5" *ngIf="show_nothing_here">
    <img src="/assets/img/nothinghere-removebg.png" alt="logo" />
    <h3>Nada por aqui ainda...</h3>
</div>